.Pokemons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Pokemons .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
}

.Pokemons .column.description {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Pokemons .column.description .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border: 1px solid #000;
  width: 200px;
  height: 480px;
}

.Pokemons .column.description .details .icon {
  width: 150px;
  height: 150px;
}

.Pokemons .column.description .details .stats {
  margin: 5px;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.Pokemons .column.description .details .stats .cell {
  overflow: hidden;
  text-align: center;
  padding: 5px;
  word-wrap: break-word;
  border: 1px solid #000;
}

.Pokemons .column.description .details .stats .cell.wide-cell {
  width: 60px;
}

.Pokemons .column.pokemons-list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55% !important;
  height: 80vh;
  overflow-y: scroll;
}

.Pokemons .column.pokemons-list .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.Pokemons .column.pokemons-list .wrapper .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 15px;
  width: 180px;
  height: 240px;
  border: 1px solid #000;
}

.Pokemons .column.pokemons-list .wrapper .box .icon {
  width: 150px;
  height: 150px;
  cursor: pointer;
}

.Pokemons .column.pokemons-list .wrapper .box .icon,
.Pokemons .column.pokemons-list .wrapper .box .container {
  margin: 10px;
}

.Pokemons .column.pokemons-list .wrapper .box .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
}

.Pokemons .column.pokemons-list .wrapper .box .container__block {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #000;
  border-radius: 5px;
}

.Pokemons .column.pokemons-list .btn {
  width: 85%;
  padding: 10px;
  border-radius: 8px;
  margin: 5px 0;
  color: #fff;
  font-size: 18px;
  outline: none;
  background-color: #0984e3;
  border: none;
  cursor: pointer;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.Pokemons .column.pokemons-list .btn:hover {
  background-color: #6a89cc;
}
/*# sourceMappingURL=Pokemons.css.map */