.Pokemons {
    display: flex;
    justify-content: center;

    .column {            
        display: flex;
        width: 45%;

        &.description {
            justify-content: center;
            padding: 10px;

            .details {            
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px;
                border: 1px solid #000;

                .icon {                    
                    width: 150px;
                    height: 150px;
                }
            }
        }

        &.pokemons-list {
            flex-direction: column;
            align-items: center;
            width: 55% !important;
            height: 80vh;
            overflow-y: scroll;
    
            .wrapper {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
        
                .box {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 20px 15px;
                    width: 180px;
                    height: 240px;
                    border: 1px solid #000;
                    
                    .icon {
                        width: 150px;
                        height: 150px;
                        cursor: pointer;
                    }
            
                    .icon,
                    .container {
                        margin: 10px;            
                    }
            
                    .container {
                        display: flex;
                        width: 95%;
            
                        &__block {
                            margin: 0 5px;
                            padding: 5px 10px;
                            border: 1px solid #000;
                            border-radius: 5px;
                        }
                    }
                }
            }
        
            .btn {
                width: 85%;
                padding: 10px;
                border-radius: 8px;
                margin: 5px 0;
                color: #fff;
                font-size: 18px;
                outline: none;
                background-color: #0984e3;
                border: none;
                cursor: pointer;
                transition: all .4s ease-in-out;
        
                &:hover {            
                    background-color: #6a89cc;
                }
            }
        }
    }
}